In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [2]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python2.7/dist-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python2.7/dist-packages (from pyspark) (0.10.7)

In [0]:
from pyspark.sql import SparkSession

In [0]:
from pyspark.sql.functions import *
from pyspark.sql import Row

# Initial SparkSession

In [0]:
spark = SparkSession.builder \
    .master("local") \
    .appName("Assignment 6") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [6]:
import os
os.getcwd()

'/content'

# Reading dataset

In [7]:
#laod data as RDD
sc=spark.sparkContext
rdd_d=sc.textFile('/content/sample_data/california_housing_test.csv')
rdd_d.take(10)

[u'"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"',
 u'-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000',
 u'-118.300000,34.260000,43.000000,1510.000000,310.000000,809.000000,277.000000,3.599000,176500.000000',
 u'-117.810000,33.780000,27.000000,3589.000000,507.000000,1484.000000,495.000000,5.793400,270500.000000',
 u'-118.360000,33.820000,28.000000,67.000000,15.000000,49.000000,11.000000,6.135900,330000.000000',
 u'-119.670000,36.330000,19.000000,1241.000000,244.000000,850.000000,237.000000,2.937500,81700.000000',
 u'-119.560000,36.510000,37.000000,1018.000000,213.000000,663.000000,204.000000,1.663500,67000.000000',
 u'-121.430000,38.630000,43.000000,1009.000000,225.000000,604.000000,218.000000,1.664100,67000.000000',
 u'-120.650000,35.480000,19.000000,2310.000000,471.000000,1341.000000,441.000000,3.225000,166900.000000',
 u'-122.840000,38.400000,15.000000,3080.000000,617.000000,1446.000000,599.000000,3.669600,194400.000000']

In [8]:
#load the data as dataframe
data=spark.read.csv('/content/sample_data/california_housing_test.csv',header=True)
data.show(10)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000|603.000000|     2.333300|     164200.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 10 rows

In [9]:
#remove the first row
f=rdd_d.first()
rdd_d=rdd_d.filter(lambda r:r!=f)
## convert rdd to dataframe
a=rdd_d.map(lambda x:x.split(","))
b=a.map(lambda p: Row(longitude=p[0],latitude=p[1],housing_median_age=p[2],total_rooms=p[3],total_bedrooms=p[4],population=p[5],households=p[6],median_income=p[7],median_house_value=p[8]))
rdd_df=spark.createDataFrame(b)
rdd_df.show(10)

+----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
|households|housing_median_age| latitude|  longitude|median_house_value|median_income| population|total_bedrooms|total_rooms|
+----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
|606.000000|         27.000000|37.370000|-122.050000|     344700.000000|     6.608500|1537.000000|    661.000000|3885.000000|
|277.000000|         43.000000|34.260000|-118.300000|     176500.000000|     3.599000| 809.000000|    310.000000|1510.000000|
|495.000000|         27.000000|33.780000|-117.810000|     270500.000000|     5.793400|1484.000000|    507.000000|3589.000000|
| 11.000000|         28.000000|33.820000|-118.360000|     330000.000000|     6.135900|  49.000000|     15.000000|  67.000000|
|237.000000|         19.000000|36.330000|-119.670000|      81700.000000|     2.937500| 850.000000|    244.000000|1241.000000|
|204.000000|         37.000000|36.510000|-119.560000|      67000.000000|     1.663500| 663.000000|    213.000000|1018.000000|
|218.000000|         43.000000|38.630000|-121.430000|      67000.000000|     1.664100| 604.000000|    225.000000|1009.000000|
|441.000000|         19.000000|35.480000|-120.650000|     166900.000000|     3.225000|1341.000000|    471.000000|2310.000000|
|599.000000|         15.000000|38.400000|-122.840000|     194400.000000|     3.669600|1446.000000|    617.000000|3080.000000|
|603.000000|         31.000000|34.080000|-118.020000|     164200.000000|     2.333300|2830.000000|    632.000000|2402.000000|
+----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
only showing top 10 rows

In [10]:
# convert dataframe to rdd
rdd1=rdd_df.rdd
rdd1

MapPartitionsRDD[29] at javaToPython at NativeMethodAccessorImpl.java:0

In [11]:
# convert spark dataframe to pandas dataframe
pandas=data.toPandas()
pandas

        longitude   latitude  ... median_income median_house_value
0     -122.050000  37.370000  ...      6.608500      344700.000000
1     -118.300000  34.260000  ...      3.599000      176500.000000
2     -117.810000  33.780000  ...      5.793400      270500.000000
3     -118.360000  33.820000  ...      6.135900      330000.000000
4     -119.670000  36.330000  ...      2.937500       81700.000000
5     -119.560000  36.510000  ...      1.663500       67000.000000
6     -121.430000  38.630000  ...      1.664100       67000.000000
7     -120.650000  35.480000  ...      3.225000      166900.000000
8     -122.840000  38.400000  ...      3.669600      194400.000000
9     -118.020000  34.080000  ...      2.333300      164200.000000
10    -118.240000  33.980000  ...      2.205400      125000.000000
11    -119.120000  35.850000  ...      2.416700       58300.000000
12    -121.930000  37.250000  ...      4.690000      252600.000000
13    -117.030000  32.970000  ...      4.562500      231200.000000
14    -117.970000  33.730000  ...      5.712100      222500.000000
15    -117.990000  33.810000  ...      2.200000      153100.000000
16    -120.810000  37.530000  ...      1.875000      181300.000000
17    -121.200000  38.690000  ...      2.717400      137500.000000
18    -118.880000  34.210000  ...      6.585100      300000.000000
19    -122.590000  38.010000  ...      6.172400      414300.000000
20    -122.150000  37.750000  ...      3.891300      126300.000000
21    -121.370000  38.680000  ...      3.178600       83400.000000
22    -118.160000  34.070000  ...      3.864400      241500.000000
23    -122.200000  37.790000  ...      2.778800      115400.000000
24    -117.280000  33.280000  ...      3.815600      150700.000000
25    -118.030000  34.160000  ...      7.161500      484700.000000
26    -122.420000  37.760000  ...      2.540300      250000.000000
27    -118.390000  33.990000  ...      6.603000      369200.000000
28    -118.450000  34.070000  ...      1.583000      350000.000000
29    -118.480000  34.010000  ...      3.485200      425000.000000
...           ...        ...  ...           ...                ...
2970  -122.470000  37.770000  ...      4.163500      398400.000000
2971  -120.930000  35.760000  ...      3.230000      154300.000000
2972  -118.140000  34.170000  ...      4.052400      173100.000000
2973  -122.730000  38.460000  ...      2.065100      135400.000000
2974  -117.060000  32.760000  ...      2.965000      155700.000000
2975  -120.710000  35.500000  ...      5.250800      292900.000000
2976  -118.310000  34.050000  ...      2.531300      305800.000000
2977  -119.700000  36.750000  ...      2.495600       87500.000000
2978  -121.340000  38.640000  ...      3.756200      139700.000000
2979  -117.910000  34.090000  ...      3.044100      185400.000000
2980  -119.760000  36.790000  ...      3.328100       75100.000000
2981  -120.660000  35.490000  ...      2.828500      171300.000000
2982  -118.280000  34.080000  ...      3.160700      182000.000000
2983  -122.540000  37.900000  ...      4.437500      370000.000000
2984  -117.590000  33.880000  ...      2.611100      107000.000000
2985  -120.470000  34.940000  ...      1.863300      109400.000000
2986  -118.250000  33.930000  ...      1.134600       85400.000000
2987  -121.970000  37.290000  ...      5.329400      300300.000000
2988  -122.010000  36.970000  ...      2.541700      260900.000000
2989  -122.020000  37.600000  ...      3.238600      149600.000000
2990  -118.230000  34.090000  ...      2.692300      150000.000000
2991  -117.170000  34.280000  ...      7.199700      253800.000000
2992  -122.330000  37.390000  ...      6.226300      500001.000000
2993  -117.910000  33.600000  ...      5.104800      500001.000000
2994  -117.930000  33.860000  ...      5.586700      182500.000000
2995  -119.860000  34.420000  ...      1.179000      225000.000000
2996  -118.140000  34.060000  ...      3.390600      237200.000000
2997  -119.700000  36.300000  ...      2.289500       62000.000000
2998  -117.120000  34.100000  ...      3.270800      162500.000000
2999  -119.630000  34.420000  ...      8.560800      500001.000000

[3000 rows x 9 columns]

# Task

In [12]:
#Task 1 ---Select first 10 rows of dataset
rdd_df.show(10)

+----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
|households|housing_median_age| latitude|  longitude|median_house_value|median_income| population|total_bedrooms|total_rooms|
+----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
|606.000000|         27.000000|37.370000|-122.050000|     344700.000000|     6.608500|1537.000000|    661.000000|3885.000000|
|277.000000|         43.000000|34.260000|-118.300000|     176500.000000|     3.599000| 809.000000|    310.000000|1510.000000|
|495.000000|         27.000000|33.780000|-117.810000|     270500.000000|     5.793400|1484.000000|    507.000000|3589.000000|
| 11.000000|         28.000000|33.820000|-118.360000|     330000.000000|     6.135900|  49.000000|     15.000000|  67.000000|
|237.000000|         19.000000|36.330000|-119.670000|      81700.000000|     2.937500| 850.000000|    244.000000|1241.000000|
|204.000000|         37.000000|36.510000|-119.560000|      67000.000000|     1.663500| 663.000000|    213.000000|1018.000000|
|218.000000|         43.000000|38.630000|-121.430000|      67000.000000|     1.664100| 604.000000|    225.000000|1009.000000|
|441.000000|         19.000000|35.480000|-120.650000|     166900.000000|     3.225000|1341.000000|    471.000000|2310.000000|
|599.000000|         15.000000|38.400000|-122.840000|     194400.000000|     3.669600|1446.000000|    617.000000|3080.000000|
|603.000000|         31.000000|34.080000|-118.020000|     164200.000000|     2.333300|2830.000000|    632.000000|2402.000000|
+----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
only showing top 10 rows

In [13]:
#Task 2---show the schema of the dataset
rdd_df.printSchema()

root
 |-- households: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- median_house_value: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- population: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- total_rooms: string (nullable = true)

In [14]:
# Task 3---Group by and get max, min, count of a column in the dataset
rdd_df.groupBy('households').count().show()
rdd_df.select(max('population'),min('population')).show()

+-----------+-----+
| households|count|
+-----------+-----+
| 873.000000|    1|
| 474.000000|    4|
| 442.000000|    4|
| 966.000000|    1|
| 165.000000|    3|
| 148.000000|    2|
| 836.000000|    2|
|1064.000000|    1|
| 979.000000|    3|
|1019.000000|    1|
| 296.000000|    5|
| 775.000000|    3|
| 665.000000|    3|
| 603.000000|    3|
| 539.000000|    3|
| 611.000000|    2|
| 977.000000|    1|
| 461.000000|    2|
| 508.000000|    2|
| 986.000000|    1|
+-----------+-----+
only showing top 20 rows

+---------------+---------------+
|max(population)|min(population)|
+---------------+---------------+
|     999.000000|     100.000000|
+---------------+---------------+

In [15]:
#Task 4---Filter your dataset by some conditions based on your column
rdd_df.filter(rdd_df['population']>500).show()

+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
| households|housing_median_age| latitude|  longitude|median_house_value|median_income| population|total_bedrooms|total_rooms|
+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
| 606.000000|         27.000000|37.370000|-122.050000|     344700.000000|     6.608500|1537.000000|    661.000000|3885.000000|
| 277.000000|         43.000000|34.260000|-118.300000|     176500.000000|     3.599000| 809.000000|    310.000000|1510.000000|
| 495.000000|         27.000000|33.780000|-117.810000|     270500.000000|     5.793400|1484.000000|    507.000000|3589.000000|
| 237.000000|         19.000000|36.330000|-119.670000|      81700.000000|     2.937500| 850.000000|    244.000000|1241.000000|
| 204.000000|         37.000000|36.510000|-119.560000|      67000.000000|     1.663500| 663.000000|    213.000000|1018.000000|
| 218.000000|         43.000000|38.630000|-121.430000|      67000.000000|     1.664100| 604.000000|    225.000000|1009.000000|
| 441.000000|         19.000000|35.480000|-120.650000|     166900.000000|     3.225000|1341.000000|    471.000000|2310.000000|
| 599.000000|         15.000000|38.400000|-122.840000|     194400.000000|     3.669600|1446.000000|    617.000000|3080.000000|
| 603.000000|         31.000000|34.080000|-118.020000|     164200.000000|     2.333300|2830.000000|    632.000000|2402.000000|
| 261.000000|         45.000000|33.980000|-118.240000|     125000.000000|     2.205400|1288.000000|    249.000000| 972.000000|
| 138.000000|         37.000000|35.850000|-119.120000|      58300.000000|     2.416700| 564.000000|    166.000000| 736.000000|
| 170.000000|         36.000000|37.250000|-121.930000|     252600.000000|     4.690000| 535.000000|    182.000000|1089.000000|
| 659.000000|         16.000000|32.970000|-117.030000|     231200.000000|     4.562500|1935.000000|    694.000000|3936.000000|
| 331.000000|         27.000000|33.730000|-117.970000|     222500.000000|     5.712100|1217.000000|    325.000000|2097.000000|
| 595.000000|         26.000000|38.690000|-121.200000|     137500.000000|     2.717400|1603.000000|    607.000000|3077.000000|
| 199.000000|         26.000000|34.210000|-118.880000|     300000.000000|     6.585100| 654.000000|    196.000000|1590.000000|
|1258.000000|         35.000000|38.010000|-122.590000|     414300.000000|     6.172400|3450.000000|   1307.000000|8814.000000|
| 255.000000|         40.000000|37.750000|-122.150000|     126300.000000|     3.891300| 849.000000|    256.000000|1445.000000|
| 305.000000|         36.000000|38.680000|-121.370000|      83400.000000|     3.178600| 937.000000|    296.000000|1775.000000|
| 561.000000|         47.000000|34.070000|-118.160000|     241500.000000|     3.864400|1651.000000|    543.000000|2994.000000|
+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
only showing top 20 rows

In [16]:
#Task 5---Apply group by with having clause
rdd_df.groupBy('median_income').agg(sum('households')).alias('sum_households').show()

+-------------+---------------+
|median_income|sum(households)|
+-------------+---------------+
|     4.638900|          169.0|
|     4.693000|          985.0|
|     5.898000|          285.0|
|    10.598100|          484.0|
|     0.740300|          350.0|
|     3.272700|          456.0|
|     4.931800|          323.0|
|     2.306800|          273.0|
|     2.401000|          337.0|
|     4.163000|          284.0|
|     3.209100|          603.0|
|     1.442700|          390.0|
|     2.021700|          472.0|
|     4.736100|         1224.0|
|     4.786100|          421.0|
|     2.853300|           71.0|
|     5.273000|          273.0|
|     1.000000|           51.0|
|     4.033300|          622.0|
|     3.956600|          454.0|
+-------------+---------------+
only showing top 20 rows

In [17]:
#Task 6 ---Apply order by
rdd_df.select('*').orderBy('households').show()

+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
| households|housing_median_age| latitude|  longitude|median_house_value|median_income| population|total_bedrooms|total_rooms|
+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
|  10.000000|         26.000000|36.620000|-121.840000|     150000.000000|     2.225000|  27.000000|      8.000000|  32.000000|
| 100.000000|         29.000000|39.340000|-120.350000|      95800.000000|     4.027800| 337.000000|    474.000000|1986.000000|
| 100.000000|         35.000000|37.770000|-120.850000|      75000.000000|     2.458300| 261.000000|     96.000000| 404.000000|
|1000.000000|         29.000000|39.750000|-121.840000|      74500.000000|     1.728400|2053.000000|   1053.000000|4362.000000|
|1001.000000|          5.000000|33.760000|-117.540000|     160800.000000|     4.796500|3258.000000|   1035.000000|5846.000000|
|1004.000000|         25.000000|33.980000|-118.380000|     500001.000000|     6.811200|2519.000000|   1012.000000|7105.000000|
|1005.000000|         25.000000|34.130000|-118.260000|     218100.000000|     2.667300|2843.000000|   1111.000000|3208.000000|
|1006.000000|          5.000000|33.690000|-117.390000|     168700.000000|     5.327500|3464.000000|    997.000000|6529.000000|
|1007.000000|         31.000000|33.960000|-118.290000|     116300.000000|     1.309600|3707.000000|   1208.000000|4022.000000|
|1007.000000|         20.000000|37.300000|-121.960000|     227300.000000|     4.308100|2334.000000|   1006.000000|4228.000000|
|1007.000000|          5.000000|34.710000|-118.090000|     159400.000000|     2.401200|2602.000000|   1182.000000|5807.000000|
|1009.000000|         20.000000|37.290000|-120.510000|      79800.000000|     1.767900|4205.000000|   1042.000000|4927.000000|
|1010.000000|         32.000000|34.180000|-118.380000|     174200.000000|     2.560300|3129.000000|   1060.000000|3553.000000|
|1012.000000|         33.000000|34.060000|-118.260000|     110000.000000|     1.723800|3707.000000|   1047.000000|1950.000000|
|1014.000000|         24.000000|33.810000|-117.940000|     172200.000000|     3.677100|3003.000000|   1131.000000|4602.000000|
|1015.000000|         42.000000|37.800000|-122.250000|     225000.000000|     2.934500|1715.000000|   1065.000000|4120.000000|
|1019.000000|         13.000000|34.080000|-117.430000|     121700.000000|     2.118900|2475.000000|   1187.000000|4563.000000|
| 102.000000|         32.000000|34.220000|-118.380000|     150000.000000|     2.267900| 348.000000|    100.000000| 362.000000|
|1020.000000|         12.000000|33.290000|-117.200000|     295900.000000|     4.035700|2778.000000|   1182.000000|6358.000000|
|1021.000000|         22.000000|33.830000|-118.060000|     226400.000000|     4.530000|2812.000000|   1054.000000|5290.000000|
+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
only showing top 20 rows

In [18]:
#Task 7---Select distinct records by a column
rdd_df.select('housing_median_age').distinct().show()

+------------------+
|housing_median_age|
+------------------+
|          1.000000|
|         37.000000|
|         32.000000|
|         47.000000|
|         45.000000|
|         11.000000|
|         18.000000|
|          3.000000|
|         17.000000|
|         33.000000|
|          4.000000|
|         19.000000|
|         44.000000|
|         39.000000|
|         23.000000|
|         34.000000|
|         25.000000|
|         15.000000|
|         51.000000|
|         22.000000|
+------------------+
only showing top 20 rows

In [30]:
#Task 8---Transform the data type of columns from int to string
from pyspark.sql.types import *
new_rdd_df=rdd_df.withColumn('households',rdd_df['households'].cast(StringType()))
new_rdd_df.printSchema()

root
 |-- households: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- median_house_value: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- population: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- total_rooms: string (nullable = true)